---

#####
##  Install nud

- name: get nud wallet
  become: yes
  become_user: nud
  unarchive:
    copy: no
    src: https://bitbucket.org/JordanLeePeershares/nubit/downloads/nu-2.0.3-linux-gitian.zip
    dest: /home/nud/

- name: install nud as user binary
  become: yes
  command: mv /home/nud/bin/32/nud /usr/bin
  when: ansible_architecture != "x86_64"

- name: install nud as user binary
  become: yes
  command: mv /home/nud/bin/64/nud /usr/bin
  when: ansible_architecture == "x86_64"

- name: create .nud directory
  become: yes
  become_user: nud
  file:
   name: /home/nud/.nu
   state: directory

- name: template nu.conf
  become: yes
  become_user: nud
  template:
    src: nu.conf.j2
    dest: /home/nud/.nu/nu.conf

- name: create .nud directory for alp user
  become: yes
  become_user: alp
  file:
   name: /home/alp/.nu
   state: directory

- name: template nu.conf for alp user
  become: yes
  become_user: alp
  template:
    src: nu.conf.j2
    dest: /home/alp/.nu/nu.conf


