[pool]
name={{ pool_name }}
grant_address=Bxxxxxxxxxxxxxxxxx
minimum_payout=1

[rpc]
user={{ nud_user }}
pass={{ nud_password }}
host=127.0.0.1
port=14002

[db]
name=alp
user=alp
pass={{ alp_user_postgres_password }}
host=localhost
port=5432